@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');

*, *:before, *::after{
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: normal;

}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,#22c1c3,#fdbb2d);
}

.calculator-grid{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px) ;
    grid-template-rows: minmax(120px, auto) :repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    border:  1px solid white;
    outline: none;
    background-color: rgb(237, 240, 243);
}

.calculator-grid > button:hover {
 
    background-color: rgb(143, 235, 219, .9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgb(48, 46, 46, 0.75);
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap:break-word;
    word-break: break-all;
}
.output .previous-operand {
    color:rgb(175, 177, 180) ;
    font-size: 1.0rem;
}
.output .current-operand {
    color:rgb(255, 255, 255) ;
    font-size: 2.5rem;

}

